nav {
    background-color: skyblue;
    
}
.nav-link {
    color: white;
    font-size: 10px;
}
.nav-link:hover {
    color: orange;
}

.navbar-brand {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace
}
