nav {
    background-color: skyblue;
    
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color: orange;
}

.navbar-brand {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace
}
@media (max-width: 900px) {
    .nav-link {
      font-size: 10px;
    }
  }
